body{
  margin: 0;
  padding: 0;
}
.headerpicture{
  padding: 0;
  position: relative;
  margin: 0;
  width: 100vw;
}
.textBox{
padding-left: 10%;
padding-right: 10%;
padding-top: 3%;
  position: relative;
}
.text{
  position: relative;
  text-align: justify;
}
